@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Madimi+One&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Bungee+Spice&family=Madimi+One&family=Oswald:wght@200..700&display=swap');


/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/* CSS custom */
.foto {
    background: url('img/pizza.jpg') no-repeat center center;
    height: 85vh;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.titolo-home {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 6em;
    color: wheat;
    text-shadow:  4px 8px rgba(0, 0, 0, 0.5),  -4px 7px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 52%;
}

.rock{
    position: absolute;
    bottom: 1px;
}

.titolo-nav {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
}
/*  Pagina Registrati  */

.titolo-registrati {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
}

/*  Pagina prodotti  */

.titolo-prodotti {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*   Pagina carrello  */

.card-title {
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffd800;
    text-shadow: 1px 3px rgba(0, 0, 0, 0.5), 1px 3px rgba(0, 0, 0, 0.5);
}




